.hoverTable{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 95%;
}
.hoverTable td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

/* Define the default color for all the table rows */
.hoverTable tr:nth-child(even) {
    background-color: #dddddd;
}
/* Define the hover highlight color for the table row */
.hoverTable tr:hover {
      background-color: #ffff99;
}

div{
    font-size: 18pt;
    color: green;
    font-style: italic;
    font-family: arial, sans-serif;
}
